<%- include("header") -%> 


  <body>
  
    <div class="box" id="heading">
      <h1><%= listHeading %></h1>
    </div>
    
    <div class="box">
      <%  for (var i=0; i < newListItem.length; i++) { %>
        <div class="item">
          <input type="checkbox">
          <p><%= newListItem[i] %></p>
        </div>
      <% } %> 
      <form class="item" action=<%= rout %>  method="post">
        <input type="text" name="newTask" placeholder="New Item" autocomplete="off">
        <button type="submit">+</button>
      </form>
    </div>
  
  </body>


<%- include("footer") -%> 